.homes-index {
  .card-style {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    .title {
      text-align: center;
    }
    .image-user-data {
      display: flex;
      align-items: center;
      .image {
        margin-right: 30px;
        margin-left: 40px;
      }
      .img {
        border-radius: 50%;
      }
      .user-data-card-style {
        border: 1px solid #ddd;
        border-radius: 4px;
        width: 300px;
        .user-data-title {
          text-align: center;
          margin-bottom: 20px;
          margin-top: 10px;
        }
        .user-title {
          font-size: 25px;
        }
        .user-edit-icon {
          margin-left: 10px;
          color: #007bff
        }
        .user-name {
          margin-bottom: 20px;
          margin-left: 30px;
        }
        .user-email {
          margin-left: 30px;
          margin-bottom: 20px;
        }
      }
    }
    .in-progress-trip-title {
      margin-left: 40px;
      margin-top: 50px;
    }
    .trips-container {
      display: flex;
      justify-content: space-between;
      .trips-card-style {
        margin: 0 auto;
        width: 200px;
        border: 1px solid black;
        box-shadow: 0 4px 9px rgba(0,0,0,0.1);
        .trip-link {
          text-decoration: none;
          color: inherit;
        }
        .trip-title {
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          padding: 10px;
          border-bottom: 1px solid black;
          color: #007bff;
        }
        .member {
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }
        .member-list {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
    .no-in-progress-trip {
      margin: 0 auto;
      width: 520px;
      border: 1px solid #ddd;
      border-radius: 4px;
      height: 70px;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 20px;
    }
    .past-trip-title {
      margin-left: 40px;
    }
    .no-past-trip {
      margin: 0 auto;
      width: 520px;
      border: 1px solid #ddd;
      border-radius: 4px;
      height: 70px;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 20px;
    }
    .new-trip {
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
      .link-custom {
        color: #007bff
      }
      .add-icon {
        margin-left: 10px;
      }
    }
    .join-trip {
      text-align: center;
      margin-bottom: 30px;
      font-size: 20px;
      .link-custom {
        color: #007bff
      }
      .user-icon {
        margin-left: 50px;
      }
    }
  }
}