<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <% resource.errors.full_messages.each do |message| %>
      <div class="users-shared-error-messages">
        <div class="alert">
          <li><%= message %></li>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
