.plan-edit{
  .card-style {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    .plan-container {
      p {
        font-size: 25px;
        font-weight: bold;
        padding-top: 10px;
      } 
      position: relative;
      border:1px solid black;
      border-radius: 5px;
      scroll-snap-align: start;
      width: 550px;
      padding: 10px;
      text-align: center;
        .selected {
        display: none;
      }
      .spots-container {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 500px;
        flex-wrap: wrap;
        margin-bottom: 50px;
        .spot {
          border: 1px solid black;
          border-radius: 10px;
          width: 150px;
        }
        .image {
          width: 100px;
          height: 100px;
        }
      }
      .trip-time-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        font-size: 20px;
        .trip-start-time {
          width: 200px;
          border: 1px solid black;
          border-radius: 5px;
        }
        .trip-finish-time {
          width: 200px;
          border: 1px solid black;
          border-radius: 5px;
        }
      }
      .guide-book {
        display: table;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 30px;
        border: 1px solid black;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        .guide-headline {
          display: table-row;
          background-color: #d3d3d3;
          text-align: center;
          font-weight: bold;
        }
        .guide-row {
          display: table-row;
          width: 100%;
          .stay-time-form {
            width:50px;
            text-align: center;
            color: blue;
            font-size: 20px;
            border: 1px solid black;
            border-radius: 4px;
          }
        }
        .time-cell {
          padding: 10px;
          display: table-cell;
          border-right: 1px solid black;
          text-align: center;
          width: 150px;
          font-size: 20px;
        }
        .content-cell {
          padding: 10px;
          display: table-cell;
          text-align: center;
          width: 400px;
          font-size: 20px;
        }
        .spot_link {
          color: blue;
        }
      }
      .update-form {
        margin-bottom: 50px;
      }
      .update-button {
        font-size: 25px;
        background-color: #007bff;
        color: white;
        border: 1px solid #007bff;
        border-radius: 4px;
      }
    }
  }
}