.plans-index {
  .card-style {
    margin: 0 auto;
    margin-top: 6.3rem;
    margin-bottom: 6.3rem;
    width: 90%;
    max-width: 50rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    padding-bottom: 0.6rem;
    text-align: center;
    .created-plan {
      text-align: center;
      font-size: 1.9rem;
    }
    .plans-container {
      display: flex;
      overflow-x: auto;
      gap: 3.1rem;
      scroll-snap-type: x mandatory;
      width: 90%;
      max-width: 36.2rem;
      margin: 0 auto;
    }
    .decided-form {
      width: 90%;
      max-width: 25rem;
      margin: 0 auto;
      margin-top: 3.1rem;
      margin-bottom: 3.1rem;
    }
    .decided-button {
      padding: 0.6rem;
      font-size: 1.6rem;
      font-weight: bold;
      color: white;
      background-color: #007bff;
      border: 1px solid #007bff;
      border-radius: 4px;
      cursor: pointer;
    }
    .wait {
      font-size: 2.5rem;
      margin-bottom: 3.1rem;
      font-weight: bold;
    }
    .wait-detail {
      font-size: 1.9rem;
      margin-bottom: 6.3rem;
    }
  }
}