.plans-index {
  .card-style {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    padding: 10px;
    .created-plan {
      margin-top: 50px;
      text-align: center;
      font-size: 30px;
    }
    .decided {
      width: 200px;
      margin: 0 auto;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .decided-button {
      font-size: 20px;
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
      border-radius: 4px;
    }
  }
}