.shared-flash-messages {
  margin-top: 65px;
  .flash-success {
    background-color: #d4edda;
    padding: 7.5px 12.5px;
    border-radius: 1px;
    border: 1px solid transparent;
    font-size: 15px;
  }
  .flash-alert {
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    padding: 1rem;
    border-radius: 6px;
    width: 90%;
    margin: 0 auto;
  }
}