.shared-header {
  display: flex;
  position: fixed; top: 0;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #ccc;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); 
  .header-left {
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
    padding: 15px;
  }
  .header-right {
    font-size: 20px;
    display: flex;
    gap: 20px;
    margin-left: auto;
    padding: 15px;
  }
  .link {
    text-decoration: none;
    color: #1a73e8;
 }
}