.shared-header {
  display: flex;
  position: fixed; top: 0;
  width: 100%;
  height: 3.75rem;
  border-bottom: 0.125rem solid #ccc;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08); 
  .header-left {
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: auto;
    padding: 1rem;
  }
  .header-right {
    font-size: 1.25rem;
    display: flex;
    gap: 1.25rem;
    margin-left: auto;
    padding: 1rem;
  }
  .link {
    text-decoration: none;
    color: #1a73e8;
  }
}
@media (max-width: 768px) {
  .shared-header {
    height: auto;
    align-items: center;
    text-align: center;
    padding: 0.5rem;

    .header-left {
      font-size: 1.25rem;
      padding: 0.6rem;
    }

    .header-right {
      gap: 0.6rem;
      font-size: 1rem;
      padding: 0.6rem 1.5rem 0.6rem 0.6rem;
      flex-wrap: wrap;
    }
  }
}