.plan-container {
  max-width: 95%;
  min-width: 95%;
  p {
    font-size: 1.6rem;
    font-weight: bold;
    padding-top: 0.6rem;
    margin-top: 3rem;
  } 
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  scroll-snap-align: center;
  text-align: center;
    .selected {
    display: none;
  }
  &.is-selected {
    .selected {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 6.25rem;
      text-align: center;
      background-color: #4CAF50;
      color: white;
      padding: 3px 8px;
      font-size: 1.9rem;
      border-radius: 4px;
    }
  }
  .spots-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 31rem;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3.1rem;
    .spot {
      border: 1px solid black;
      border-radius: 10px;
      width: 9.4rem;
    }
    .image {
      width: 6.25rem;
      height: 6.25rem;
    }
  }
  .edit-icon {
    text-align: right;
  }
  .guide-book {
    display: table;
    max-width: 34.4rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 150px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    .guide-headline {
      display: table-row;
      background-color: #d3d3d3;
      text-align: center;
      font-weight: bold;
    }
    .guide-row {
      display: table-row;
    }
    .time-cell {
      padding: 0.6rem;
      display: table-cell;
      border-right: 1px solid black;
      text-align: center;
      width: 9.4rem;
      font-size: 1.25rem;
    }
    .content-cell {
      padding: 0.6rem;
      display: table-cell;
      text-align: center;
      width: 25rem;
      font-size: 1.25rem;
    }
    .spot_link {
      color: blue;
    }
  }
  .dot-icon {
    width: 100%;
    position: absolute;
    bottom: 1.25rem;
  }
  .select-form {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &.is-selected .select-form {
    display: none;
  }
  .selected-button {
    font-size: 1.6rem;
    color: white;
    background-color:  blue;
    border: 1px solid blue;
    border-radius: 4px;
    cursor: pointer;
  }
}