.title {
  text-align: center;
  gap: 1.25rem;
  font-size: 1.9rem;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
}
.trip-detail-container {
  width: 100%;
  max-width: 37.5rem;
  margin-bottom: 3.1rem;
  .trip-detail {
    width: 100%;
    max-width: 18.8rem;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    margin: 0 auto;
    .icon-label {
      display: flex;
      align-items: center;
      gap: 0.6rem;
    }
    .trip-info {
      padding: 0.6rem;
      line-height: 2.5rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
    }
  }
}