<div class="shared-flash-messages">  
  <% flash.each do |key, message| %>
    <% if key == "notice" %>
      <div class="flash-success">
        <%= message %>
      </div>
    <% else %>
      <div class="flash-alert">
        <strong><i class="fa-solid fa-circle-exclamation"></i> 入力エラーがあります</strong>
        <% Array(message).each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>