<div class="guide-row">
  <div class="time-cell">
    <%= current_time.strftime("%H:%M") %>
  </div>
  <div class="content-cell">
    <%= link_to trip_spot_path(trip.id, spot.id), class:"spot_link" do %>
      <%= spot.spot_name %>(滞在:<%= spot.category.stay_time %>分)
    <% end %>
  </div>
</div>