.spots-show {
  .card-style {
    margin: 0 auto;
    margin-top: 6.25rem;
    width: 90%;
    max-width: 37.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    .title {
      text-align: center;
      margin-top: 0.6rem;
      margin-bottom: 1.9rem;
      font-size: 2.5rem;
      border-bottom: 1px solid #ddd;
    }
    .image {
      text-align: center;
      margin-bottom: 1.25rem;
    }
    .image-size {
      width: 12.5rem;
      height: 12.5rem;
    }
    .spot-group {
      display: flex;
      align-items: center;
      border-top: 1px solid #ddd;
      padding: 1.25rem;
      .label {
        width: 9.4rem;
        font-size: clamp(1rem, 2.5vw, 1.5rem);
      }
      .body {
        word-break: break-all;
        width: 25rem;
        margin-left: 1.25rem;
        font-size: 0.9rem;
      }
    }
  }
  .search_page_link {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    text-align: right;
  }
  .spot-submit {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .submit-botton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.6rempx 1.25rem;
    font-size: 1.25rem;
    border-radius: 8px;
    margin-bottom: 6.3rem;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .spots-show {
    .card-style {
      .spot-group {
        flex-direction: column;
        align-items: flex-start;
        .label {
          width: 9.4rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
        .body {
          width: 90%;
          font-size: 0.9rem;
        }
      }
    }
  }
}