.spots-show {
  .card-style {
    margin: 0 auto;
    margin-top: 100px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    .title {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 40px;
      border-bottom: 1px solid #ddd;
    }
    .image {
      text-align: center;
      margin-bottom: 20px;
    }
    .image-size {
      width: 200px;
      height: 200px;
    }
    .spot-group {
      display: flex;
      align-items: center;
      border-top: 1px solid #ddd;
      padding: 20px;
      .label {
        width: 150px;
        font-size: 20px;
      }
      .body {
        word-break: break-all;
        width: 400px;
        margin-left: 20px;
        font-size: 15px;
      }
    }
  }
  .search_page_link {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
  }
  .spot-submit {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .submit-botton {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   font-size: 20px;
   border-radius: 8px;
   margin-bottom: 100px;
   cursor: pointer;
  }
}