.user-registration-edit {
  .card-style {
    margin: 0 auto;
    margin-top: 6.25rem;
    padding: 1.25rem;
    max-width: 25rem;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    .title {
      text-align: center;
    }
    .icon {
      margin-right: 0.6rem;
    }
    .form-group {
      margin-bottom: 1.9rem;
    }
    .form-label {
      font-weight: bold;
    }
    .text-field {
      margin-top: 0.5rem;
      width: 100%; 
      line-height: 2;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 0.3rem;
    }
    .preview-avatar {
      max-width: 12.5rem;
      width: 100%;
      height: auto;
      border-radius: 50%;

    }
    .password-restriction {
      font-size: 0.8rem;
    }
    .submit-mypage {
      display: flex;
      justify-content: center;
      .submit {
        margin-bottom: 0.6rem;
      }
      .submit-button {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 5px 10px;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
      }
    }
  }
  .mypage-link {
    font-size: 0.8rem;
    max-width: 26.25rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: right
  }
}