.users-registrations-new {
  .title {
    text-align: center;
  }
  .card-style {
    margin: 0 auto;
    margin-top: 6.3rem;
    padding: 1.25rem;
    max-width: 25rem;
    width: 85%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    .form-group {
      margin-bottom: 1.9rem;
    }
    .text-field {
      width: 90%; 
      line-height: 1.5;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 0.5rem;
    }
    .submit {
      text-align: center;
    }
    .submit-button {
      font-size: 1.25rem;
      background-color: #007bff;
      color: white;
      border: 1px solid #007bff;
      border-radius: 4px;
    }
    .link {
      text-align: center;
      margin-top: 0.6rem;
    }
  }
}