<div class="plans-index">
  <div class="card-style">
    <%= render "shared/trip_data", trip: @trip %>
    <p class="created-plan"><%= t('.created-plan') %></p>
    <%= render "shared/plan", trip: @trip, plans: @plans %>
  </div>
</div>
